/**
* You can edit this whole file.
*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--secondary);
  color: white;
}

img {
  size: 30px;
}

.navbar a {
  display: flex;
  align-items: center;
  /* Alinea verticalmente "Our Pets" con la primera card */
  overflow: hidden;
  background-color: var(--secondary);
  color: white;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
/*
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* Alinear las cards en la parte superior */
}

.card {
  box-shadow: 4px 10px 10px 2px rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 450px;
  margin: 15px;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary);
  float: left;
  font-weight: bold;
  padding-right: 255px;
}

li {
  float: left;
}

li.active {
  text-decoration:dashed;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: #111;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 270px;
}

h2 {
  margin-left: 20px;
  margin-top: 20px;
}

.dogos {
  display: flex;
  align-items: center;
  padding-left: 270px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: var(--primary);
  cursor: pointer;
  width: 90%;
  margin: 10px;
  font-size: 18px;
}

a {
  font-size: 22px;
  color: white;
}

span {
  font-size: 22px;
  font-weight: bold;
}

p {
  margin: 20px;
}
